*{
    text-align:end ;
}
.myApp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.productsContainer{
    width: 100%;
    background-color:#ffffffff;
    display: flex;
    padding: 5% 0;
   
}
 h2{
    color: black !important;
}
 h1 ,  h2{
    margin-top: 5%;
    align-self: end;
    margin: 0 30px;
}
.adsContainer{
    width: 80%;
    margin: 25px;
}
.adsContainer img{
    width: 48%;
    border-radius: 30px;
}